* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .game {
    position: relative;
    height: 800px;
    width: 800px;
    border: 1px solid salmon;
    box-sizing: border-box;
  }
  
  .joystick {
    position: absolute;
    bottom: 20%;
    right: 20%;
    z-index: 1;
  }
  
  
}